/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #00FFB2;
  --color-secondary: #2a2a2a;


  --font-shrinker: clamp(0.5rem, 1vw + 1rem, 5rem);

  --p-font-shrink: clamp(0.85rem, 1vw + 0.6rem, 1.1rem);

  --li-font-shrink: clamp(0.8rem, 0.5vw + 0.6rem, 1rem);

  --h3-contact-shrink: clamp(1rem, 2vw + 1rem, 2.6rem);

  --h4-about-shrink: clamp(1.1rem, 1vw + 1rem, 2rem);

  --h5-product-shrink: clamp(1.1rem, 1vw + 1rem, 1.5rem);

}