/* Use import to split up your CSS into manageable chunks */
/* @import url("./reset.css"); */
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */


/* ====================== BODY CONTENT ======================== */
/* ====================== PURCHASE PROCESS ======================== */

.column-row-adjuster {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 95%;
}

.purchase-container {
  background-color: rgb(95, 95, 95);
  background-image: linear-gradient(to bottom, #000000, #003719);
  border-radius: 2rem;
  border: 3px solid #000;
  border-top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.2rem;
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.coupon-enter {
  text-align: center;
  width: 100%;
}

.coupon-label {
  font-size: clamp(0.65rem, 1vw + 1rem, 0.88rem);
  text-align: center;
}

.coupon-input {
  width: 120px;
  padding: 0.2rem 0.6rem;
  text-align: center;
  border-radius: 2rem;
  border-color: #00ffb2;
}

#submit-code {
  width: 60px;
  background-color: #00ffb2;
  color: #000;
  font-weight: 700;
}

.purchase-button {
  width: 100%;
  max-width: 180px;
  background-color: #00ffb2;
  border: 2px solid #ff42f6;
  border-radius: 2rem;
  border-top: 0;
  padding: 0.3rem 1rem;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
  font-weight: 900;
}

#buy-text-split {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  gap: 10px
}

.buy-underline {
  border-bottom: 1px solid #00ffb2;
}

.left-align-box {
  width: max-content;
  text-align: right;
  gap: 5px;
}

.right-align-box {
  width: 40%;
  text-align: center;
  gap: 5px;
}

.cc-personal-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.2rem;
  width: 100%;
  max-width: 400px;
}

.payment-options {
  margin: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 0.4rem;
}

.payment-opt {
  font-size: 20px;
}

#cc-info #credit-card-inputs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: auto;
  gap: 5px;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}


#personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cc-pi-info {
  font-size: clamp(1.1rem, 1vw + 1rem, 1.5rem);
  font-weight: 700;
  margin: 0.5rem 0rem;
  text-align: left;
  padding-top: 1rem;
}

#billing-info-inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: auto;
  gap: 5px;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

/* ______________ cc and personal information grid positions ______________ */

.option-1-1 {
  grid-row: 1;
  grid-column: 2 /span 8;
  font-size: 18px;
  align-self: center;
  font-weight: 700;
}

.option-1-2 {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  height: 16px;
  width: 16px;
}

.option-2-1 {
  grid-row: 2;
  grid-column: 2/span 8;
  align-self: center;
  font-size: 18px;
  align-self: center;
  font-weight: 700;

}

.option-2-2 {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  height: 16px;
  width: 16px;
}

.option-3-1 {
  grid-row: 4;
  grid-column: 1 /span 8;

  align-self: center;
}

.option-3-2 {
  grid-row: 5;
  grid-column: 1 /span 12;
  padding: 0.2rem;
}

.option-4-1 {
  grid-row: 6;
  grid-column: 1 /span 8;
  align-self: center;
}

.option-4-2 {
  grid-row: 7;
  grid-column: 1 /span 12;
  padding: 0.2rem;
}

.option-5-1 {
  grid-row: 8;
  grid-column: 1 /span 8;
}

.option-5-2 {
  grid-row: 9;
  grid-column: 1 /span 12;
  padding: 0.2rem;
}

.option-6-1 {
  grid-row: 10;
  grid-column: 1 /span 6;
}

.option-6-2 {
  grid-row: 11;
  grid-column: 1 /span 7;
  padding: 0.2rem;
}

.option-7-1 {
  grid-row: 10;
  grid-column: 9 /span 4;
}

.option-7-2 {
  grid-row: 11;
  grid-column: 9 /span 4;
  padding: 0.2rem;
}

.option-8-1 {
  grid-row: 12;
  grid-column: 1 /span 8;
}

.option-8-2 {
  grid-row: 13;
  grid-column: 1 /span 12;
  padding: 0.2rem;
}

.option-5-1b {
  grid-row: 8;
  grid-column: 1 /span 4;
}

.option-5-2b {
  grid-row: 9;
  grid-column: 1 /span 5;
  padding: 0.2rem;
}

.option-6b-1 {
  grid-row: 8;
  grid-column: 8 /span 4;
  align-self: center;
}

.option-6b-2 {
  grid-row: 9;
  grid-column: 8 /span 5;
  padding: 0.2rem;
  text-align: center;
}


/* ______________ cc and personal information display feature______________ */

.red-outline {
  border: 1px solid red;
}

.display-opt-3 {
  display: none;
}

.display-opt-4 {
  display: none;
}

.display-opt-5 {
  display: none;
}

.display-opt-6 {
  display: none;
}

.display-opt-7 {
  display: none;
}

.display-opt-8 {
  display: none;
}

.option-2-2[type="radio"]:checked~.display-opt-3 {
  display: block;
}

.option-2-2[type="radio"]:checked~.display-opt-4 {
  display: block;
}

.option-2-2[type="radio"]:checked~.display-opt-5 {
  display: block;
}

.option-2-2[type="radio"]:checked~.display-opt-6 {
  display: block;
}

.option-2-2[type="radio"]:checked~.display-opt-7 {
  display: block;
}

.option-2-2[type="radio"]:checked~.display-opt-8 {
  display: block;
}


/* ______________ gridbox for cart item ______________ */

.cart-gridbox {
  width: 100%;
  width: 90vw;
  max-width: 395px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 20px);
  padding: 1.2rem;
  gap: 4px;
}

.cart-position-1 {
  grid-column: 1 /span 7;
  border-bottom: 1px solid #00ffb2;
  text-align: end;
}

.cart-position-2 {
  grid-column: 1 /span 7;
  grid-row: 2 /span 2;
  margin: 0;
  text-align: left;
  text-wrap: wrap;
  font-size: 19px;
  font-weight: 700;
  align-self: center;
}

.cart-position-3 {
  grid-column: 1 /span 4;
  grid-row: 4 /span 7;
  align-self: flex-end;
  max-width: 120px;
}

.cart-position-4 {
  grid-column: 6;
  grid-row: 8;
  align-self: left;
  font-size: var(--p-font-shrink);
}

.bold-price {
  grid-column: 6 /span 2;
  grid-row: 9;
  text-align: left;
  font-weight: 700;
  font-size: 1.25rem;
}


.bg-border-style-purchase {
  border: 3px solid #000;
  border-top: 0;
  border-radius: 2rem;
  background-color: rgb(95, 95, 95);
  background-image: linear-gradient(rgb(230, 230, 230), rgb(175, 175, 175));

}

@media (min-width: 950px) {
  .column-row-adjuster {
    width: 95%;
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    >.purchase-divider1 {
      width: 100%;
      max-width: 720px;

      >.buy-container {
        width: 100%;
        max-width: 720px;
      }

      >.cc-personal-info {
        width: 100%;
        max-width: 720px;

        >#cc-info {
          width: 100%;
          max-width: 400px;
        }

        >#personal-info {
          width: 100%;
          max-width: 400px;

        }
      }
    }
  }
}